name: Scheduler

on:
  workflow_dispatch:
  schedule:
    - cron: "17 7 * * *"
  push:
    branches: [main]

concurrency:
  group: scheduler

jobs:
  update-sponsors:
    name: Update Sponsors
    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/
          package-manager-cache: false

      - name: Install dependencies
        run: npm ci

      - name: Update sponsors
        run: npm run build
        env:
          SPONSORKIT_GITHUB_LOGIN: igordanchenko
          SPONSORKIT_GITHUB_TOKEN: ${{ secrets.SPONSORKIT_GITHUB_TOKEN }}

      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: "chore: update sponsors [skip ci]"
          add: "sponsors.*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
